body{
    font-family: 'Fahkwang', sans-serif;
    background-color: #f9f1ef;

}

/* Header, might not use?
.header{
    background-color: #ffca8c;
    width: 100%;
    height: 35px;
    border-radius: 40px;
}*/

p{
    padding: 8px;
    color: black;
}

.information-grid {
    margin: 40px 100px;
    display: grid;
    grid-template-columns: 3fr 1fr; /* Two columns with equal width */
    grid-gap: 60px;
  }
  
  .information-item {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column; 
  }

  .bookshelf1{
    width: 150px;
  }

  .bookshelf2{
    width: 150px;
    margin-left: auto;
  }


.readingnookbanner{
    padding: 0px;
    margin: 0px;
    width: 100%;

}

.star-divider{
    margin-top: -50px;
    width: 100%;
}

.button{
    background-color: #075cfb;
}

@media screen and (min-width: 1400px) {
    .information-grid {
        margin: 0px 300px;
       
      }

}